.search-container {
  margin-bottom: 20px;
}

.search-container input {
  padding: 6px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  background: black;
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
}

.table th {
  text-align: left;
}

.table tr {
  height: 60px;
}

.table td span {
  margin-right: 10px;
}